h1{
    background-color: chartreuse ;
    color: rgb(235, 17, 35);
    

}
img{
    width: 400px;
}
#thirdDiv{

    height: 730px;
    width: 500px;
    background-color: rgb(57, 243, 181);
    padding: 50px;
    border: 5px rgb(128, 12, 236)solid;
    color: rgb(235, 17, 35);
    font-size: 20px;
   
}
#spanId{
    font-size: 18px;
    margin: 50px;
    text-align: center;
}
.div{
    width: 550px; margin: 0 auto;
}
#cuerpo{
    width: 550px; margin: 0 auto; 
    background-image: url("https://data2.1freewallpapers.com/download/cutlery-tape-fork-2880x1620.jpg");
    text-align: center;
}

